.container.contact__container {
    width: 60%;
}

.contact__me {
    margin-bottom: 0.5rem;
}

.email__at {
    margin-bottom: 3rem;
}

.email {
    display: inline;
    vertical-align: top;
    color: var(--color-white)
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-prim-variant);
    resize: none;
    color: var(--color-bg);
    font-size: 1.4rem;
}

/* ============================ Media Queries (Medium Devices) ============================ */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        width: 70%;
    }
}

/* ============================ Media Queries (Small Devices) ============================ */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: 90%
    }

    input, textarea {
        font-size: 1.2rem;
    }
}